<div ng-controller="ImageProcessingController" style="margin: 10px 0px;">
    <label for="functions-definition">Image processing functions</label>
    <textarea ui-codemirror="editorOptions" id="functions-definition" ng-model="config.functions_definition" ng-init="config.functions_definition= 
    '# Define here the different image processing python functions
# Don\'t forget to import required packages (that are in the plugin code env)
# Both input and output of these functions are numpy array image

# for example
import cv2

def blurring(image):
    &quot;&quot;&quot; Blurs an image using the median filter. &quot;&quot;&quot;
    return cv2.medianBlur(image,5)

def thresholding(image):
    &quot;&quot;&quot; Set pixels to black or white based on some threshold. &quot;&quot;&quot;   
    return cv2.threshold(image, 0, 255, cv2.THRESH_BINARY + cv2.THRESH_OTSU)[1]

def resizing(image):
    &quot;&quot;&quot; Rescale an image. fx and fx denote the scaling factors. &quot;&quot;&quot;
    return cv2.resize(image, None, fx=1.5, fy=1.5, interpolation=cv2.INTER_CUBIC)

    
# More info here on open-cv image processing here:
# https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_tutorials.html
    '">
    </textarea>
    
    <label for="pipeline-definition">Processing pipeline function</label>
    <textarea ui-codemirror="editorOptions" id="pipeline-definition" ng-model="config.pipeline_definition" ng-init="config.pipeline_definition=
    '# Fill-in complete_processing with functions defined above

def complete_processing(image):
    # This function will be executed on all images in the input folder

    # add the functions you defined above here

    # for example
    image = blurring(image)
    image = thresholding(image)
    image = resizing(image)

    return image
    '">
</textarea>
</div>